/*header bgclr #128aa7;
first gradient block #1dcfe2 -> white;
nav #333333;
palm #e8f3f6 or rgb(232, 243, 246);
second gradient block #3cc1d0 -> #0c739f (footer);
left & right columns #edeef0;

*/
* 	{
	box-sizing: border-box;
}

/*----------background----------*/

.block_h	{	height: 30px;	background-color: #128aa7;}
.block_m	{	height: 146px;	background: linear-gradient(#1dcfe2, white);}
.block_l	{	height: 846px;	background: linear-gradient(#3cc1d0, #0c739f);}