/*header bgclr #128aa7;
first gradient block #1dcfe2 -> white;
nav #333333;
palm #e8f3f6 or rgb(232, 243, 246);
second gradient block #3cc1d0 -> #0c739f (footer);
left & right columns #edeef0;

*/
html	{
	background-color: rgb(191, 191,191);
}
* 	{
	box-sizing: border-box;
}
body	{
	font-size: small;
}

/*---------- background ----------*/

.block_h	{	height: 30px;	background-color: #128aa7;}
.block_m	{	height: 146px;	background: linear-gradient(#1dcfe2, white);}
.block_l	{	height: 846px;	background: linear-gradient(#3cc1d0, #0c739f);
				box-shadow: 0 2px 12px #272626;}

/*---------- container ----------*/

.container	{
	position: relative;
	background-color: white;
	top: -1022px;
	width: 1000px;
	height: 176px;
	margin: 0 auto;
}
.header	{
	color: #379cb4;
	font-family: Arial, sans-serif;
	float: left;
}
.container .left	{
	
	width:	50%;
	height: 176px;
	background-color: white;
	/*border: 1px solid red;*/
	display: block;
	background-image: url(../img/palma_edit.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
}
.left h1	{
	padding-left: 30px;
	padding-top: 50px;
	font-family: 'Shadows Into Light Two';
	font-size: 250%;
	letter-spacing: 5px;
	font-weight: bold;
}
.left h2	{
	padding: 20px 94px;
}
.container .right	{
	width:	50%;
	height: 176px;
	display: block;
}
.right .contacts	{
	float: right;
	padding: 14px 27px;
}
.contacts li	{
	padding: 2px 0;
}
.contacts li:first-child	{
	font-weight: bold;
	padding-bottom: 7px;
}
.contacts li:last-child	{
	font-size: 88%;
}

/*---------- flags ----------*/



.flags	{
	clear: both;
}
.flags input	{
	display: none;
}
.flags label	{
	display: block;
	width: 40px;
	line-height: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 58%;
	text-decoration: underline;
}
.country	{
	float: right;
	margin-right: 16px;
}
.country div	{
	width: 40px;
	height: 40px;
	margin: 5px 0;
	border-radius: 50%;
	border: 1px solid #b3aeae;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}
.ind	{
	background-image: url(../img/flags/ind.png);
}
.nep	{
	background-image: url(../img/flags/nep.png);
}
.tib	{
	background-image: url(../img/flags/tib.png);
}
.but	{
	background-image: url(../img/flags/but.png);
}
.shri	{
	background-image: url(../img/flags/shri.png);
}
.mald	{
	background-image: url(../img/flags/mald.png);
}



.container .image	{
	clear: both;
	background-image: url(../img/ocean.jpg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
	height: 186px;
}
.container .nav	{
	height: 30px;
	background-color: #333333;
	box-shadow: 0 2px 4px gray;
	border-bottom: 1px solid black;
	color: #f5f5f5;
	z-index: 999;
}

.nav ul li	{
	display: inline-block;
	width: 140px;
	text-align: center;
	font-family: 'Arial Narrow', sans-serif;
	font-size: 110%;
	padding-top: 7px;
}
.nav ul li a	{
	color: #f5f5f5;
	text-decoration: none;
}
.sub	{
	display: none;
	position: absolute;
	width: 140px;
	
	
	padding: 7px;
}
.sub li	{
	text-align: center;
	padding: 8px 0;
	
}
.nav ul > li:hover > ul.sub	{
	display: block;
	background-color: #333333;
	z-index: 9999;
	font-size: 100%;
	box-shadow: 0 4px 7px black;
}

/*---------- columns ----------*/


.fon	{
	width: 1000px;
	overflow: hidden;
	box-shadow: 0 2px 4px black;
}
.leftCol	{
	width: 25%;
	float: left;
	background: rgb(237, 238, 240);
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.centerCol	{
	width: 50%;
	float: left;
	background: white;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	
}
.rightCol	{
	width: 25%;
	float: left;
	background: rgb(237, 238, 240);
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.col h2, .col p	{
	color: #667667;
	width: 84%;
	margin: 0 auto;
}
.col h2	{
	margin-top: 14px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.col p	{
	text-align: justify;
	margin-top: 11px;
	padding-bottom: 14px;
}